/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;500;800&family=Roboto:wght@100;400&display=swap');

#root {
    font-family: 'Roboto', sans-serif;
    height: 460px;
    width: 400px;
  }

body {
    text-align: left;
    font-family: 'Noto Sans SC', sans-serif;
    padding-left: 10px;
}

h1 {
    padding-top: 10px;
    font-size: 15px;
    height: 20px;
  }

#title{
    border-bottom: solid 1px #ccc;
}
  #header hr {
      height: 1px;
      border:0;
  }


  .tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .tags li{
    display: inline-block;
    background-color: aquamarine;
    font-size: 12px;
    padding: 7px;
  }

  .nav-tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-tags li{
    display: inline-block;
    background-color: aquamarine;
    font-size: 12px;
    padding: 7px;
  }

  .nav-tags li:hover{
    background-color: cornflowerblue;
  }

  #cards {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 230px;
    margin-top: 12px;
    margin-left: 0px;
  }

  .card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px;
      margin-left: 2px;
      background-color: #f6e9fa;
      height: 100px;
      font-size: 12px;
      border: solid 1px rgb(223, 219, 219);
      box-shadow: 0px 0px 5px 2px rgb(213, 211, 211);
      border-radius: 5px;
  }

  .card .main{
    flex-direction: column;
    font-size: 12px;
    margin: 5px;
    margin-left: 8px;
  }

  .card .main .bottombar{
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
  }

  .card img{
    height: 80px;
    width: 60px;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

 #bookmarks{
    border: 0px;
    border: white;
    align-self: center;
    background-color: white;
  }